<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <title>Lista Telefonica</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="lib/angular.js"></script>
    <script src="controller/modulo-principal.js"></script>
    <script src="controller/lista-telefonica-controller.js"></script>
    <style>
        .jumbotron{
            width: 400px;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        };
        .table{
            margin-top: 20px;
        }
        .form-control{
            margin-bottom: 5px;
        }
        .selecionado{
            background-color: yellow;
        }
        .negrito{
            font-weight: bold;
        }
    </style>
</head>
<body ng-controller="listaTelefonicaController">
    <div class="jumbotron">
        <h3 >Lista Telefonica</h3>
        <table class="table">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
            </tr>
            {{contato}}
            <tr ng-repeat="contato in contatos" ng-class="{'selecionado negrito' : contato.selecionado}" >
                <td><input type="checkbox" ng-model="contato.selecionado"></td>
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
            </tr>
        </table>
        <input class="form-control" type="text" placeholder="Nome" ng-model="contato.nome">
        <input class="form-control" type="text" placeholder="Telefone" ng-model="contato.telefone">
        <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras">
            <option value="">Selecione uma operadora</option>
        </select>
        <br>
        <button class="btn btn-light btn-block" ng-click="limparCampos(contato)" >Limpar</button>
        <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" >Adicionar</button>
    </div>
</body>
</html>